<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to tournament board</title>
</head>
<body>

<label>Пожалуйста добавьте 16 команд*:</label><br/>
<form action="/your-name/" method="post">
    <label for="team_name1">Team1 </label>
    <input id="team_name1" type="text" name="team_name" value="{{ name1 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name2 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name3 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name4 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name5 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name6 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name7 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name8 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name9 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name10 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name11 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name12 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name13 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name14 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name15 }}">
    <label for="team_name">Team1 </label>
    <input id="team_name" type="text" name="team_name" value="{{ name16 }}">

    <input type="submit" value="OK">
</form>
</body>
</html>